.search-results {
    margin-top: 50px;
}
.search-category{
    margin-top: 50px;
    margin-bottom: 50px;
}

img.card-img-top{
    height: 200px;
}

.search-all{
    display: none;
}
.card-deck{
    flex-wrap: wrap;
    justify-content: center;
    
}
.search-all .card{
    flex-basis: auto !important;
}

.track-container,
.playlist-container,
.album-container{
    display: none;
}