<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <!-- ==================================
              Search For songs
            ========================================-->
            <div class="navbar-form">
              <h4 class="modal-title text-center" id="myModalLabel">JukeBox Player</h4>
              <div class="modal-form">
                <input type="text" class="form-control searchbox" placeholder="Search albums, songs, or artists">
                <button class="btn btn-default search" type="button" name="button">Search</button>
              </div>

            </div>
            <!-- ==================================
              End Search
            ========================================-->
          </div>
          <div class="modal-body">
            <!-- ==================================
              Jukebox Player
            ========================================-->

            <div class="jukebox-section current-song">
              <img src="images/headphones1.jpg" class ="cover-image" alt="Track Cover Image">

              <audio id="song">
                <source src="" type="audio/mp3">
              </audio>
              <div class="text-center">
                <div class="btn-group" role="group" aria-label="jukebox-controls">
                  <!-- <button id="previous" type="button" class="btn btn-info">Previous</button> -->
                  <button id="play" type="button" class="btn btn-info">Play</button>
                  <button id="pause" type="button" class="btn btn-info">Pause</button>
                  <!-- <button id="next" type="button" class="btn btn-info">Next</button> -->
                </div>
              </div>

            </div>
            <hr>
            <div class="jukebox-section playlist">

              <ol id="list">
                <!-- songs -->
              </ol>

            </div>

            <!-- ==================================
              End of Jukebox Player
            ========================================-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>