<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">JukeBox</a>
              <!-- ==================================
                Search For songs
              ========================================-->
              <div class="navbar-form navbar-left">
                <input type="text" class="form-control searchbox" placeholder="Search albums, songs, or artists">
                <button class="btn btn-default search" type="button" name="button" data-toggle="modal" data-target="">Search</button>
              </div>
              <!-- ==================================
                End Search
              ========================================-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Artists</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div><!--navbar-->
          </div><!--conatiner-->
        </nav>
      </div> <!--container-->
    </div><!--navbar-wrapper-->