<!-- Navigation
    ================================================== -->
    {{> Navigation }}
    {{> Modal }}
    {{> Carousel }}
    {{> featured/main}}
    
    <div class="footer-container navbar navbar-dark bg-dark">
      <footer class="container">
        <span>&copy; 2016 JukeBox, Inc &middot;</span>
            <a href="#"> Privacy </a> &middot; 
            <a href="#"> Terms </a>
            <a href="#" class="ml-auto">Back to top</a>
      </footer>
    </div>

    