
<h2 class="text-center section-heading">Featured <span class="text-muted">Artists.</span></h2>
  <div class="card-deck">
  <div class="card">
    <img class="d-block mx-auto rounded-circle" src="images/singers/singer1.jpg" alt="Miah Wonders" width="150" height="150">
    <div class="card-body">
      <h5 class="card-title text-center">Miah Wonder</h5>
      <p class="card-text d-sm-none d-md-block">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer text-center">
      <a class="btn btn-outline-info" href="#" role="button">View songs &raquo;</a>
    </div>
  </div>
  <div class="card">
    <img class="d-block mx-auto rounded-circle" src="images/singers/singer2.jpg" alt="Miah Wonders" width="150" height="150">
    <div class="card-body">
      <h5 class="card-title text-center">Jason Hue</h5>
      <p class="card-text d-sm-none d-md-block">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer text-center">
      <a class="btn btn-outline-info" href="#" role="button">View songs &raquo;</a>
    </div>
  </div>
  <div class="card">
    <img class="d-block mx-auto rounded-circle" src="images/singers/singer4.jpg" alt="Miah Wonders" width="150" height="150">
    <div class="card-body">
      <h5 class="card-title text-center">Karla B.</h5>
      <p class="card-text d-sm-none d-md-block">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer text-center">
      <a class="btn btn-outline-info" href="#" role="button">View songs &raquo;</a>
    </div>
  </div>
</div>