<!-- Featured Playlists
    ================================================== -->


      <h2 class="section-heading text-center">Featured <span class="text-muted">Playlists.</span></h2>
      <div class="row align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading text-md-left">Relax your mind.  <span class="text-muted">Relax your soul.</span></h2>
          <p class="lead">Listen to our featured playlist perfectly curated for a night of relaxation. Relax, chill out music perfect to soften the mood. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <div class="col-md-5 image-container">
          <img class="img-fluid center-block" src="images/concert/concert5.jpg" alt="Relax Playlist Cover Image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row align-items-center">
        <div class="col-md-7 order-md-12">
          <h2 class="featurette-heading text-md-left">Experience the concert.  <span class="text-muted">Relive the moment.</span></h2>
          <p class="lead">Listen to our featured playlist showcasing the most popular concerts, live. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
        </div>
        <div class="col-md-5 order-md-1 image-container">
          <img class="img-fluid center-block" src="images/concert/concert3.jpg" alt="Concert Playlist Cover Image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading text-md-left">Summer vibes.  <span class="text-muted">Top one-hundred songs.</span></h2>
          <p class="lead">Listen to our featured playlist of the top 40 songs of the summer. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 image-container">
          <img class="img-fluid center-block" src="images/concert/concert11.jpg" alt="Summer Vibes Playlist Cover Image">
        </div>
      </div>